<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project_Meira</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

   <h1 class="text-center" style="margin-top: 100px;">Главная</h1>
   <h4 class="text-center">Вы находитесь на сайте, преднозначеном для продажи товаров.</h4>
   <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title bg-secondary text-white">Товар 1</h5>

                        <p class="card-text">$100</p>
                        <p class="card-text">10 users included, 2 GB of storage, Email support, Help center access</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title bg-secondary text-white">Товар 1</h5>
                        <p class="card-text">$100</p>
                        <p class="card-text">10 users included, 2 GB of storage, Email support, Help center access</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title  bg-secondary text-white">Товар 1</h5>
                        <p class="card-text">$100</p>
                        <p class="card-text">10 users included, 2 GB of storage, Email support, Help center access</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>